<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <style type="text/css">
                    .ui-diagram-element {   
                        width:5em; 
                        height:5em;
                        line-height:5em;
                        text-align: center;
                        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                        border-radius: 5em;
                        border: 1px solid #404a4e;
                        background-color: #404a4e;
                        color: #cccccc;
                    }

                    .ui-diagram-element:hover {
                        background-color: #20282b;
                    }
                </style>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="grwErrores" />
            <p:panel header="Arbol Binario de Búsqueda" 
                     rendered="#{!controladorBatalla.verRegistrar}">
                <p:diagram value="#{controladorBatalla.model}" 
                           style="height:400px" styleClass="ui-widget-content" />                
                
                <p:commandButton value="Nuevo" action="#{controladorBatalla.habilitarRegistrar()}"
                                 update="@all"   />
        </p:panel>
        
        <h:form>
            <p:panel  header="Registrar Celular" rendered="#{controladorBatalla.verRegistrar}">
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="Nombre del Barco"/>
                        <p:inputText required="true" value="#{controladorBatalla.barco.nombre}"/>
                        <p:outputLabel value="Cantidad de Espacios"/>
                        <p:inputText required="true" value="#{controladorBatalla.barco.nroCasillas}"/>
                        <p:outputLabel value="Cantidad en Juego"/>
                        <p:inputText required="true" value="#{controladorBatalla.barco.cantidadJuego}" />
                        
                        <p:commandButton value="Guardar" update="@all" ajax="false"
                                         action="#{controladorBatalla.guardarBarco()}"/>
                        <p:commandButton value="Cancelar" update="@all" ajax="false"
                                         action="#{controladorBatalla.deshabilitarRegistrar()}"/>
                    </p:panelGrid>
                </center>
            

            </p:panel>
        </h:form>
            
            
            <p:panel header="Recorrido PreOrden Tipos Barcos" >
                <p:dataTable value="#{controladorBatalla.arbol.recorrerPreOrdenTB()}"
                             var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nombre"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.nombre}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Numero Casillas"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.nroCasillas}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Cantidad Juego"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.cantidadJuego}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
            
            
        </h:form>
    </h:body>
</html>
