<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./newTemplate.xhtml">

            <ui:define name="content">
                <h:form>
                    <c:forEach var="fila" begin="1" end="10">
                        <c:forEach var="columna" begin="1" end="10">
                            <p:commandButton value="[#{fila},#{columna}]" 
                                             
                                             update="@all"
                                             />
                        </c:forEach>


                        <br/>
                    </c:forEach>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
