<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./newTemplate.xhtml">

            <ui:define name="content">
                <h:form>
                    <p:growl id="grwErrores" />
                    <p:panel header="Creacion de Barcos Para Posicionar - TOTAL - #{controladorBatalla.arbol.sumarBarcos()}" 
                                 rendered="#{!controladorBatalla.verRegistrar}">

                            <p:commandButton value="Nuevo" action="#{controladorBatalla.habilitarRegistrar()}"
                                             update="@all"   />
                            <p:commandButton value="Flota" update="@all" ajax="false"
                                             action="#{controladorBatalla.crearFlota()}"/>
                        </p:panel>

                    <h:form>
                        <p:panel  header="Registrar Celular" rendered="#{controladorBatalla.verRegistrar}">
                            <center>
                                <p:panelGrid columns="2">
                                    <p:outputLabel value="Nombre del Barco"/>
                                    <p:inputText required="true" value="#{controladorBatalla.barco.nombre}"/>
                                    <p:outputLabel value="Cantidad de Espacios"/>
                                    <p:inputText required="true" value="#{controladorBatalla.barco.nroCasillas}"/>
                                    <p:outputLabel value="Cantidad en Juego"/>
                                    <p:inputText required="true" value="#{controladorBatalla.barco.cantidadJuego}" />

                                    <p:commandButton value="Guardar" update="@all" ajax="false"
                                                     action="#{controladorBatalla.guardarBarco()}"/>
                                    <p:commandButton value="Cancelar" update="@all" ajax="false"
                                                     action="#{controladorBatalla.deshabilitarRegistrar()}"/>
                                </p:panelGrid>
                            </center>


                        </p:panel>
                    </h:form>


                    <p:panel header="Recorrido PreOrden Tipos Barcos" >
                        <p:dataTable value="#{controladorBatalla.arbol.recorrerPreOrdenTB()}"
                                     var="filaIn">
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Nombre"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nombre}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Numero Casillas"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.nroCasillas}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">
                                    <p:outputLabel value="Cantidad Juego"/>
                                </f:facet>
                                <p:outputLabel value="#{filaIn.cantidadJuego}"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
                    
                    <p:panel header="Arbol Binario de Búsqueda - # Celulares " 
                            rendered="#{!controladorBatalla.verRegistrar}">
                        <p:diagram value="#{controladorBatalla.model}" 
                                       style="height:400px" styleClass="ui-widget-content" />                

                        
                    </p:panel>
                    
                </h:form>
                
            </ui:define>

        </ui:composition>

    </body>
</html>
