<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
        <style type="text/css">
                    .ui-diagram-element {   
                        width:5em; 
                        height:5em;
                        line-height:5em;
                        text-align: center;
                        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
                        border-radius: 5em;
                        border: 1px solid #404a4e;
                        background-color: #404a4e;
                        color: #cccccc;
                    }

                    .ui-diagram-element:hover {
                        background-color: #20282b;
                    }
                </style>
    </h:head>
    <h:body>
        <p:growl id="grwErrores"/>
        <h:form>
            <p:panel header="Arbol Binario de Búsqueda - # Celulares #{controladorABB.arbol.cantidadNodos}" rendered="#{!controladorABB.verRegistrar}">
                <p:diagram value="#{controladorABB.model}" 
                           style="height:400px" styleClass="ui-widget-content" />                
                
                <p:commandButton value="Nuevo" action="#{controladorABB.habilitarRegistrar()}"
                                 update="@all"   />
                
               
                <p:commandButton value="Eliminar" action="#{controladorABB.habilitarEliminar()}"
                                 update="@all" ajax="false" />
                
                <p:commandButton value="Podar" action="#{controladorABB.podar()}"
                                 update="@all" ajax="false" />
                                 
                
        
            <p:panel  header="Eliminar Imei del Arbol" rendered="#{controladorABB.verEliminar}">
                <center>
                    <p:panelGrid columns="4" >
                        <p:outputLabel value="Imei a Eliminar"/>
                        <p:inputText required="false" value="#{controladorABB.imeiEliminar}" />
                        <p:commandButton value="Eliminar" update="@all" ajax="false"
                                         action="#{controladorABB.eliminar()}" />
                        <p:commandButton value="Cancelar" action="#{controladorABB.deshabilitarEliminar()}"
                                 update="@all" ajax="false"   />
                
                    </p:panelGrid>
                </center>
            </p:panel>
                
                        
            </p:panel>
        </h:form>
        <p:outputLabel value="Los Precios suman: #{controladorABB.arbol.sumarPrecios()}"/>
        <br/>
        <p:outputLabel value="Los Precios promedian: #{controladorABB.arbol.calcularPromedioPrecios()}"/>
        
        <h:form>
            <p:panel  header="Registrar Celular" rendered="#{controladorABB.verRegistrar}">
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="imei"/>
                        <p:inputText required="true" value="#{controladorABB.celular.imei}"/>
                        <p:outputLabel value="Número de Línea"/>
                        <p:inputText required="true" value="#{controladorABB.celular.numeroLinea}"/>
                        <p:outputLabel value="Marca" />
                        <p:selectOneMenu value="#{controladorABB.celular.marca.codigo}">
                            <f:selectItems value="#{controladorABB.marcas}"
                                           var="marc" itemLabel="#{marc.descripcion}"
                                           itemValue="#{marc.codigo}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Color"/>
                        <p:inputText required="true" value="#{controladorABB.celular.color}" />
                        <p:outputLabel value="Operador"/>
                        <p:selectOneMenu value="#{controladorABB.celular.operador.nombre}">                            
                            <f:selectItems value="#{controladorABB.operadores}"
                                           var="ope" 
                                           itemLabel="#{ope.nombre}"
                                           itemValue="#{ope.nombre}"
                                           />
                        </p:selectOneMenu>
                        <p:outputLabel value="Precio"/>
                        <p:inputText required="true" value="#{controladorABB.celular.precio}" />
                        
                        
                        <p:commandButton value="Guardar" update="@all" ajax="false"
                                         action="#{controladorABB.guardarCelular()}"/>
                        <p:commandButton value="Cancelar" update="@all" ajax="false"
                                         action="#{controladorABB.deshabilitarRegistrar()}"/>
                    </p:panelGrid>
                </center>

            </p:panel>
            
            
            <p:panel header="Buscar por Operadores" rendered="#{!controladorABB.arbol.esVacio()}">
                <center>
                    <p:panelGrid columns="3">
                        
                        <p:outputLabel value="Operador"/>
                       
                        <p:selectOneMenu value="#{controladorABB.operadorSeleccionado}" >  
                            <p:ajax event="change" update="tablaxOperador" process="tablaxOperador,@this"/>
                            <f:selectItems value="#{controladorABB.operadores}"
                                           var="ope" 
                                           itemLabel="#{ope.nombre}"
                                           itemValue="#{ope.nombre}"
                                           />
                        </p:selectOneMenu>                   
                                                   
                    </p:panelGrid>
                </center>
                <h:panelGroup id="tablaxOperador"> 
                <p:dataTable  value="#{controladorABB.arbol.recorrerOperadores(controladorABB.operadorSeleccionado)}"
                             var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Operador"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.operador}"/>
                    </p:column>
                </p:dataTable>
                </h:panelGroup>
            </p:panel>
            
            
            <p:panel header="Recorrido InOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                <p:dataTable value="#{controladorABB.arbol.recorrerInOrden()}"
                             var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Operador"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.operador}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
            
            
            <p:panel header="Recorrido PreOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                <p:dataTable value="#{controladorABB.arbol.recorrerPreOrden()}"
                             var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
            
            <p:panel header="Recorrido PostOrden" rendered="#{!controladorABB.arbol.esVacio()}">
                <p:dataTable value="#{controladorABB.arbol.recorrerPostOrden()}"
                             var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.imei}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Nro"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.numeroLinea}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Color"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn.color}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
            
            <p:panel header="Altura Arbol" >
                <p:dataTable value="#{controladorABB.arbol.alturaArbol()}"
                            var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Altura (inicia desde 0)"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn}"/>
                    </p:column>
                    
                </p:dataTable>
            </p:panel>
            
            <p:panel header="Niveles" >
                <p:dataTable value="#{controladorABB.arbol.imprimirNivelImei()}"
                            var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei por Niveles"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn}"/>
                    </p:column>
                    
                </p:dataTable>
            </p:panel>
            
            <p:panel header="Hojas" >
                <p:dataTable value="#{controladorABB.arbol.cantidadHojas()}"
                            var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Cantidad de Hojas"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn}"/>
                    </p:column>                    
                </p:dataTable>
            </p:panel>
            
            <p:panel header="Menor Dato" >
                <p:dataTable value="#{controladorABB.arbol.menorValor()}"
                            var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei Minimo"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn}"/>
                    </p:column>                    
                </p:dataTable>
            </p:panel>
            
            <p:panel header="Mayor Dato" >
                <p:dataTable value="#{controladorABB.arbol.mayorValor()}"
                            var="filaIn">
                    <p:column>
                        <f:facet name="header">
                            <p:outputLabel value="Imei Mayor"/>
                        </f:facet>
                        <p:outputLabel value="#{filaIn}"/>
                    </p:column>                    
                </p:dataTable>
            </p:panel>
            
            
        </h:form>
    </h:body>
</html>

