<html xmlns="http://www.w3c.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    
</h:head>
    <h:body style="text-align:center">
               
        <h:form>
           
            <p:panel>
                <p:layout fullPage="true">
 
                    <p:layoutUnit position="north" size="100" resizable="true">
                        
                         <p:layout>
                            
                            <p:layoutUnit position="west" resizable="true" size="1000" minSize="40" maxSize="2000">
                                <h:outputText value="BATALLA NAVAL  YOM" />
                                <img src="images/barco.jpg" width="60px" height="60px" alt="barco" />
                            </p:layoutUnit>
                            
                            <p:layoutUnit position="center">
                                
                                <h:form>
                                    
                                    <p:growl id="messages"/>
                                 
                                    <p:splitButton value="Opciones" icon="ui-icon-disk">
                                        <p:menuitem value="Editar"  icon="ui-icon-arrowrefresh-1-w" />
                                        <p:menuitem value="Cambiar Password"  icon="ui-icon-key" />
                                        <p:separator />
                                        <p:menuitem value="Salir" icon="ui-icon-power" />
                                    
                                    </p:splitButton>
                                   
                                </h:form>
                                
                            </p:layoutUnit>
                             
                            <p:layoutUnit position="east" resizable="true" size="100" minSize="40" maxSize="200">
                                <img src="images/user2.jpg" width="60px" height="60px" alt="barco" />
                                
                            </p:layoutUnit>
                        </p:layout>  
                        
                    </p:layoutUnit>

                    <p:layoutUnit position="west" size="200" header="Menu" resizable="true" >
                        
                        <p:growl id="growl" life="2000" />
                       
                        <p:commandButton value="Usuarios"  styleClass="ui-priority-primary" />
                         
                        <div />
                        <p:commandButton value="Barcos"  styleClass="ui-priority-primary" />
 
                        <div />
                        <p:commandButton value="Tableros"  styleClass="ui-priority-primary" />
 
                        <div />
                        <p:commandButton value="Partida"  styleClass="ui-priority-primary" />
                            
                    </p:layoutUnit>

                    <p:layoutUnit position="center">
                        //page code
                    </p:layoutUnit>

                </p:layout>
            </p:panel>
        </h:form>
    </h:body>
</html>
